#wrapper {
    margin-left: 50px;
}

h2, h3, h4, #searchbox, #add-name, #add-genre, #add-duration, #add-author, #submit {
    margin-left: 20px;
}

#submit {
    margin-top: 20px;
}

#add-name, #add-genre, #add-duration, #add-autor {
    margin-top: 4px;
    margin-bottom: 6px;
}

body {
    background: url('../Images/yellow_background.png');
}

h2, h3, h4, p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid gray;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover {
    background-color: lightblue;
}

#all-playlists tr:hover {
    cursor: pointer;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.button {
    background-color: #008CBA;
    border: solid 1px black;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.del {
    background-color: #008CBA;
    border: solid 1px black;
    color: white;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}