<html>
<head>
    <title>PlayLists</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="Javascript/javascript.js"></script>
    <script src="Javascript/songs.js"></script>
    <script src="Javascript/playlists.js"></script>
    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="Images/icon.png">
</head>

<body ng-app="playListsApp">
    <div id="wrapper" ng-controller="controller as item">
        <div id="all-playlists">
            <h2>All PlayLists</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Genre</th>
                </tr>
                <tr ng-repeat="x in item.playlists">
                    <td class="{{x.ID}}"><button class="del" ng-click="item.removeList(x.ID)">Del</button></td>
                    <td class="{{x.ID}}" ng-click="item.selectPlaylist(x.Songs)">{{x.Name}}</td>
                    <td class="{{x.ID}}" ng-click="item.selectPlaylist(x.Songs)">{{x.Author}}</td>
                    <td class="{{x.ID}}" ng-click="item.selectPlaylist(x.Songs)">{{x.Genre}}</td>
                </tr>
            </table>
        </div>

        <div>
            <h2>Current Playlist</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Duration</th>
                </tr>
                <tr ng-repeat="x in item.psongs">
                    <td class="{{x.ID}}"><button class="del" ng-click="item.removePSong(x.ID)">Del</button></td>
                    <td class="{{x.ID}}">{{x.Name}}</td>
                    <td class="{{x.ID}}">{{x.Author}}</td>
                    <td class="{{x.ID}}">{{x.Genre}}</td>
                    <td class="{{x.ID}}">{{x.Duration}}</td>
                </tr>
            </table>
            <h3>Add a song to the Current Playlist</h3>
            <div id="add-name">
                <span class="span-add">Name: </span><input type="text" ng-model="item.name">
            </div>
            <div id="add-author">
                <span class="span-add">Author: </span><input type="text" ng-model="item.author">
            </div>
            <div id="add-genre">
                <span class="span-add">Genre: </span><input type="text" ng-model="item.genre">
            </div>
            <div id="add-duration">
                <span class="span-add">Duration: </span><input type="text" ng-model="item.duration">
            </div>
            <button class="button" id="submit" type="submit" ng-click="item.addSong()">Add to PlayList</button>
        </div>

        <div>
            <h2>List of songs</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th ng-click="item.orderColumn('Name')">Name</th>
                    <th ng-click="item.orderColumn('Author')">Author</th>
                    <th ng-click="item.orderColumn('Genre')">Genre</th>
                    <th ng-click="item.orderColumn('Duration')">Duration</th>
                </tr>
                <div>
                    <span id="searchbox">Search for a song: </span><input type="text" ng-model="songs">
                    <br /><br />
                </div>
                <tr ng-repeat="x in item.songs | filter:songs | orderBy:item.myOrder">
                    <td class="{{x.ID}}"><button class="del" ng-click="item.removeSong(x.ID)">Del</button></td>
                    <td class="{{x.ID}}">{{x.Name}}</td>
                    <td class="{{x.ID}}">{{x.Author}}</td>
                    <td class="{{x.ID}}">{{x.Genre}}</td>
                    <td class="{{x.ID}}">{{x.Duration}}</td>
                </tr>
            </table>
            <!--
                Not Implemented:
                - Button to load 5 new songs.
                - Button to hide 5 songs.
            -->
        </div>
    </div>
</body>
</html>